:root {
  --magenta: rgb(255, 0, 138, 1);
  --verde: rgb(10, 244, 116, 1);
  --roxo: rgb(78, 6, 137, 1);
}
/* 
@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.animacaodecontagem {
  transition: --num 3s;
  counter-set: num var(--num);
}

.participantestv.animacaodecontagem {
  --num: 500;
}

.cidadestv.animacaodecontagem {
  --num: 55;
}

.videostv.animacaodecontagem {
  --num: 180;
}

.materiastv.animacaodecontagem {
  --num: 29;
}

.milimpressoes.animacaodecontagem {
  --num: 191;
}

.interacoestv.animacaodecontagem {
  --num: 24000;
}

.impactostv.animacaodecontagem {
  --num: 7;
}

.canaisdigitaistv.animacaodecontagem {
  --num: 200;
}

.participantestv::after {
  content: counter(num);
}

.cidadestv::after {
  content: counter(num);
}

.videostv::after {
  content: counter(num);
}

.materiastv::after {
  content: counter(num);
}

.milimpressoes::after {
  content: counter(num);
}

.interacoestv::after {
  content: counter(num);
}

.impactostv::after {
  content: counter(num);
}

.canaisdigitaistv::after {
  content: counter(num);
} */

@font-face {
  font-family: avenirNextLTProRegular;
  src: url("../fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: avenirNextLTProItalic;
  src: url("../fonts/AvenirNextLTPro-It.otf") format("opentype");
}

@font-face {
  font-family: avenirNextLTProBold;
  src: url("../fonts/AvenirNextLTPro-Bold.otf") format("opentype");
}

p {
  color: var(--roxo);
  font-family: avenirNextLTProRegular;
  line-height: 1rem;
}

b {
  font-family: avenirNextLTProBold;
}

.navactive {
  color: var(--verde) !important;
}

.header p {
  color: white;
  font-size: 1rem;
}

.container-grid {
  display: inline-grid;
  width: 100vw;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-template-rows: 100vh;
  justify-content: center;
}

.container-grid .magento {
  background-color: var(--magenta);
}

.container-grid .verde {
  background-color: var(--verde);
}

.container-grid .conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

.conteudo article p {
  font-size: 1.3rem;
  line-height: 1.3rem;
}

article .imagens img {
  width: 15rem;
  height: 15rem;
}

.btnAcesseOSite {
  background-color: rgb(78, 6, 137);
  width: 15rem;
  height: 2rem;
  border: none;
}

.btnAcesseOSite a {
  text-decoration: none;
  color: white;
}

.btnDownload {
  background-color: var(--roxo);
  width: 15rem;
  height: 2rem;
  border: none;
}

.btnDownload a {
  text-decoration: none;
  color: white;
}

.titulo {
  margin-block: 0 0;
}

@media only screen and (min-width: 767px) {
  body {
    background-image: url("../assets/BG_PAPEL-01_1400.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header {
    position: fixed;
    display: flex;
    height: 2.5rem;
    width: 100%;
    font-size: 1rem;
    justify-content: center;
    background-color: rgb(78, 6, 137);
    color: white;
    top: 0;
    right: 0;
    z-index: 100;
    align-items: center;
  }

  .header a {
    margin: 4rem;
  }

  .section {
    text-align: center;
  }

  .conteudo article p {
    margin-block-end: 1rem;
    font-size: 1.3rem;
    line-height: 1.8rem;
  }

  .container-grid-numeros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .container-grid-numeros div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-grid-numeros div img {
    width: 8rem;
    height: 8rem;
  }

  .container-grid-numeros div p b {
    font-size: 2rem;
  }
  .container-grid-numeros div p {
    font-size: 1.3rem;
    margin-block-end: 0.5rem;
  }

  .titleredes {
    color: white;
    background-color: var(--magenta);
    width: 80vw;
    height: 3rem;
    font-size: 1.75rem;
    font-family: avenirNextLTProBold;
    line-height: 3rem;
    margin-top: 3rem;
    margin-left: 10vw;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }

  .container-grid-redessociais {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    grid-template-rows: 1fr;
    background: var(--verde);
    width: 80vw;
    margin-left: 10vw;
    height: 20vw;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  .container-grid-redessociais div p b {
    font-size: 4rem;
  }
  .container-grid-redessociais div p {
    font-size: 1.3rem;
    margin-block-end: 0.5rem;
    line-height: 2rem;
  }

  .container-grid-redessociais div {
    display: flex;
    flex-direction: column;
    white-space: pre-line;
    justify-content: center;
    margin: 0 0.8rem;
  }

  #vencedores h2 {
    font-family: avenirNextLTProBold;
    background-color: var(--roxo);
    color: white;
    font-size: 1.5rem;
    line-height: 3rem;
    /* margin-top: 2.6rem; */
    margin-block-end: 1rem;
    margin-left: 20vw;
    width: 60vw;
    margin-top: 3.5rem;
    border-radius: 1rem;
  }

  .grid-videos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    row-gap: 1rem;
  }

  .video p {
    font-size: 1.2rem;
  }

  .participantes {
    margin-block: 1rem 1rem;
    line-height: 2rem;
  }

  .participantes p {
    margin-block-end: 0.5rem;
  }

  .video iframe {
    width: 18rem;
    height: 10rem;
    margin-bottom: 1rem;
    bottom: 3rem;
  }

  .txtpremiacao {
    width: 60vw;
    margin-left: 20vw;
    margin-top: 5rem;
  }

  .txtpremiacao p {
    border-radius: 1rem;
    background-color: var(--magenta);
    font-size: 1.2rem;
    color: white;
    margin: 0 1rem;
    line-height: 1.7rem;
    margin-block-end: 1rem;
    padding: 1rem 1rem;
  }
  .videopremiacao {
    width: 40rem;
    height: 25rem;
    margin-bottom: 1rem;
    bottom: 3rem;
  }

  .section .slide h2 {
    margin-block-end: 5rem;
  }

  .pvideo {
    margin-block-end: 0.5rem;
    margin-block-start: 1.5rem;
    font-size: 1.2rem;
  }

  #download p {
    margin-block-end: 2rem;
    padding: 0 10rem;
    line-height: 2rem;
    font-size: 1.25rem;
    font-weight: bold;
  }

  #download p b {
    font-size: 1.5rem;
  }

  #download .btnDownload {
    margin-top: 1rem;
    font-size: 1.3rem;
  }

  .btnDownload {
    background-color: var(--roxo);
    width: 25rem;
    height: 3rem;
    border: none;
  }
}

@media only screen and (max-width: 767px) {
  body {
    background-image: url("../assets/BG_PAPEL_767.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header {
    position: fixed;
    display: flex;
    height: 2.5rem;
    width: 100%;
    font-size: 1rem;
    justify-content: space-around;
    background-color: rgb(78, 6, 137);
    color: white;
    top: 0;
    right: 0;
    z-index: 100;
    align-items: center;
  }

  .section {
    text-align: center;
  }

  .container-grid {
    display: inline-grid;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
    justify-content: center;
  }

  .container-grid .magento {
    display: none;
  }

  .container-grid .verde {
    display: none;
  }

  .container-grid .conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    padding-top: 1rem;
  }

  article .imagens img {
    width: 6rem;
    height: 6rem;
  }
  article .imagens {
    display: flex;
    justify-content: space-evenly;
  }
  .conteudo article p {
    font-size: 1rem;
    margin-block-end: 0.5rem;
  }

  .container-grid-numeros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .container-grid-numeros div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-grid-numeros div img {
    width: 6rem;
    height: 6rem;
  }

  .container-grid-numeros div p b {
    font-size: 1.5rem;
  }
  .container-grid-numeros div div p b {
    font-size: 1.5rem;
  }
  .container-grid-numeros div p {
    font-size: 1rem;
    margin-block-end: 0.5rem;
  }

  .titleredes {
    color: white;
    background-color: var(--magenta);
    width: 100vw;
    height: 3rem;
    font-size: 1.75rem;
    font-family: avenirNextLTProBold;
    line-height: 3rem;
    margin-top: 1rem;
  }

  .container-grid-redessociais {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    grid-template-rows: 1fr;
    background: rgb(10, 244, 116, 0.8);
    height: 20vh;
  }

  .container-grid-redessociais div p b {
    font-size: 2rem;
  }
  .container-grid-redessociais div p {
    font-size: 1rem;
    margin-block-end: 0.5rem;
  }

  .container-grid-redessociais div {
    display: flex;
    flex-direction: column;
    white-space: pre-line;
    justify-content: center;
    margin: 0 0.8rem;
  }

  #vencedores h2 {
    font-family: avenirNextLTProBold;
    background-color: var(--roxo);
    color: white;
    font-size: 1rem;
    line-height: 2rem;
    margin-top: 2.6rem;
    margin-block-end: 1rem;
    border-radius: 1rem;
  }

  .grid-videos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .video p {
    margin-block-end: 1.5rem;
    font-size: 1.2rem;
  }

  .video iframe {
    width: 100vw;
    height: 14rem;
    margin-bottom: 1rem;
    bottom: 3rem;
  }

  .txtpremiacao {
    width: 100vw;
  }

  .txtpremiacao p {
    background-color: var(--magenta);
    font-size: 1.2rem;
    color: white;
    margin: 0 1rem;
    line-height: 1.37rem;
    margin-block-end: 1rem;
    border-radius: 1rem;
    padding: 1rem 0.5rem;
  }
  .videopremiacao {
    width: 100vw;
    height: 14rem;
    margin-bottom: 1rem;
    bottom: 3rem;
  }

  .section .slide h2 {
    margin-block-end: 5rem;
  }

  .pvideo {
    margin-block-end: 0.5rem;
    margin-block-start: 1.5rem;
    font-size: 1.2rem;
  }

  #download p {
    margin-block-end: 2rem;
    padding: 0 2rem;
    line-height: 1.37rem;
    font-size: 1.25rem;
    font-weight: bold;
  }

  #download p b {
    font-size: 1.5rem;
  }

  #download .btnDownload {
    margin-top: 1rem;
    font-size: 1rem;
  }

  .btnDownload {
    background-color: var(--roxo);
    width: 15rem;
    height: 2rem;
    border: none;
  }
}
